@import '_placeholder';
@import '_palette';

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $off-white;
  font-family: 'Noto', 'PT Sans', sans-serif;
  min-height: 100%;
}

nav {
  color: white;
}

header {
  background-color: $blue;
  height: 50px;
  width: 100%;
  top: 0;
  position: fixed;
  color: white;
  line-height: 50px;
  padding: 0 20px;
  box-shadow: 0px 1px 4px 0px rgba(black,0.25);
  z-index: 999;
  box-sizing: border-box;

  h3 {
    color: white;
    text-transform: lowercase;
    display: inline-block;
  }

  input {
    width: 50%;
    max-width: 400px;
    position: absolute;
    font-size: 14px;
    line-height: 30px;
    left: 35%;
    right: 30%;
    margin: 0 auto;
    height: 30px;
    margin-top: 10px;
    border: none;
    -webkit-appearance: none;
    border-radius: 3px;
    color: white;
    padding: 0 10px 0 32px;
    background: darken($blue, 6%) no-repeat url('../images/search.svg') center left;
    background-position: 10px;
    background-size: 15px;

    &:focus, &:active {
      outline: none;
      border: none;
      background: white no-repeat url('../images/search-blue.svg') center left;
      color: $gray;
      background-position: 10px;
      background-size: 15px;
    }
  }

  nav {
    float: right;
    height: inherit;

    a {
      float: left;
      height: inherit;
      border-left: 1px solid darken($blue, 6%);
      padding: 15px 15px;
      box-sizing: border-box;

      &:last-child {
        border-right: 1px solid darken($blue, 6%);
      }

      img {
        height: 20px;
      }
    }
  }
}

div.wrapper {
  margin-top: 50px;
  width: 100%;
  position: absolute;
}

main {
  margin: 0 auto;

  .head {
    max-width: 100%;
    margin: 0 auto;
    padding: 45px 10% 40px 10%;
    background-color: $black-pearl;
    color: white;

    h3 {
      color: $silver;
    }
  }

  table {
    width: 80%;
    margin: 20px auto 0 auto;
    display: table;
    border-spacing: 0;
    color: $black-pearl;

    th, td {
      text-align: left;
      padding: 5px 10px;

      a {
        text-decoration: none;
        color: $blue;

        &:hover {
          border-bottom: 1px solid $blue;
        }
      }
    }

    tbody {
      tr:nth-child(odd) {
        background-color: lighten($silver, 15%);
      }
    }
  }
}

footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: lighten($silver, 15%);
  padding: 20px 20px;
  color: darken($silver, 10%);

  h3 {
    font-size: 16px;
  }
}
