header
  h3 PASchedules
  input(type='text', name='search', placeholder='Search for a student, course, or teacher')
  nav
    a
      img(src='/static/assets/images/calendar.svg')
    a
      img(src='/static/assets/images/user.svg')
