// Created by Rudd Fawcett '18. Based on original PASchedules Rails app created by Jamie Bloxham '15 and Jake Herman '15.
doctype html5
html(lang='en')
  block vars
  head
    title PASchedules: #{path}
    block styles
    link(rel='stylesheet', href='/static/assets/styles/main.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body
    div.wrapper
      include header.pug
      main
        block content
    //- include footer.pug
    include analytics.pug

    block scripts
