// Created by Rudd Fawcett '18. Based on original PASchedules Rails app created by Jamie Bloxham '15 and Jake Herman '15.
doctype html5
html(lang='en')
  head
    title Error: #{error.code}
    block styles
    link(rel='stylesheet', href='/static/assets/styles/error.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body
    h1 #{error.code}
    pre #{error}

// incldue GA
