extends ./includes/onboarding.pug

block vars
  - var path = verify ? 'Verify Account' : 'Login'

block intro
  - if (verify)
    p Please login to verify your account.

block form
  //- form(action='/login', method='post')
  input(type='text', class='username', name='username', placeholder='PAnet Username')
  input(type='password', class='password', name='password', placeholder='Password')
  input(type='submit', class='button', value='Login', disabled='true')
  p(class='message')
  - if (!verify)
    p Don't have an account? #[a(href='/signup') Signup].

block scripts
  script(type='text/javascript').
    validate(['username', 'password']);
  - if (verify)
    script(type='text/javascript').
      var token = !{JSON.stringify(token)};
  script(type='text/javascript', src='/static/js/login.js')
