extends ./includes/onboarding.pug

block vars
  - var path = 'Login'

block form
  input(type='text', class='username', placeholder='PAnet Username')
  input(type='password', class='password', placeholder='Password')
  input(type='submit', class='button', value='Login', disabled='true')
  p Don't have an account? #[a(href='/signup') Signup].

block scripts
  script(type='text/javascript').
    validate(['username', 'password']);
