extends ./includes/onboarding.pug

block vars
  - var path = 'Signup'

block form
  input(type='text', class='first inline buffer', placeholder='First Name')
  input(type='text', class='last inline', placeholder='Last Name')
  br
  input(type='text', class='username inline buffer', placeholder='PAnet Username')
  input(type='text', class='class inline', placeholder='Class')
  input(type='text', class='ical', placeholder='iCal URL')
  input(type='password', class='password', placeholder='Password')
  input(type='submit', class='button', value='Signup', disabled='true')
  img(class='loading', src='/static/assets/images/loading.svg')
  p(class='message')
  p(class='info') Have an account? #[a(href='/login') Login].
  br
  br
  p(class='info') Find your calendar URL by #[a(href='https://unify-ext.andover.edu/extranet/') navigating to your schedule on PAnet], and clicking the "iCal" button above your calendar.
  p(class='info') (In the top right of the screen above #[span(class='code') month | day | year]).
  br
  p(class='info') #[b Teachers: signup is unavailable for you yet, sorry!]
block scripts
  script(type='text/javascript').
    validate(['first', 'last', 'username', 'ical', 'class', 'password']);
  script(type='text/javascript', src='/static/js/min/signup.js')
